{{>head}}
    {{>navbar}}

    <div class="row">

        <div class="col-8">

            <h1>Mochila</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat eos reiciendis deleniti quia, numquam sit saepe. Laboriosam, aliquid optio! Molestias, possimus? Expedita minima doloribus inventore facilis laboriosam ad a.
            </p>
            
        </div>

        <div class="col-4">

            <img src="assets/img/Captura.PNG" class="img-thumbnail">

        </div>


    </div>
























    {{>footer}}